
<link rel="stylesheet" href="assets\css\estilos.css">
<div class="contenedorMenu">
<div class="slider">
  <ul>
    <li><img src="assets\ImagenesCarousel\seynekun-sierra-nevada.jpg" alt=""></li>
    <li><img src="assets\ImagenesCarousel\seynekun-sierra-nevada2.jpg" alt=""></li>
    <li><img src="assets\ImagenesCarousel\seynekun-sierra-nevada3.jpg" alt=""></li>
    <li><img src="assets\ImagenesCarousel\seynekun-sierra-nevada4.jpg" alt=""></li>
  </ul>
</div>
</div>
<div class="parrafo">
<p ALIGN=center>"La madre tierra a quien SERANKUA entregó la semilla para organizar </p> 
<p ALIGN=center>la tierra y todo cuando existe; con su herencia étnica espiritual y paisajística, </p>
<p ALIGN=center>hizo la Sierra Nevada de Santa Marta un hogar sagrado, origen de la</p>
<p ALIGN=center>raza humana escenario ancestral y natural, del cual germina un Café</p>
<p ALIGN=center>orgánico que a través de su sabor y aroma, materializa el mensaje espiritual</p>
<p ALIGN=center>que nos recuerda el compromiso universal de cuidar nuestra madre tierra"</p>
</div>
<p ALIGN=center>
  <img src="assets\imagenes\barra.jpg" alt="barra">
</p>
<div class="contactenos">
<h3 ><span name="contacto">Contacto</span></h3>
<div class="custom">
	<p><span style="font-size: 10pt;">Siempre estamos disponibles para usted!</span></p>
<div><span><strong>Dirección:</strong> CL 19B N° 7A-15 </span></div>
<div><span>Valledupar, Colombia </span></div>
<div><span><strong>Teléfonos:</strong> +57 318 3987735 - +57 318 3623373</span></div>
</div>
</div>